@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TrainingFPTCo.Models.TopicViewModel
@{
    ViewData["title"] = "Topics";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Topics";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    bool statusAdd = Convert.ToBoolean(TempData["saveStatus"]);
    bool statusDel = Convert.ToBoolean(TempData["statusDelete"]);
    bool statusUpdate = Convert.ToBoolean(TempData["statusUpdate"]);

}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>This is Topics page</h2>
        <a class="btn btn-primary" href="@Url.Action("Add","Topic")">Add new Topic</a>
        <form id="searchForm" asp-action="Index" method="get" class="my-3">

            <div class="from-actions no-color col-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="SearchString" class="form-label">Find by Name:</label>
                            <input id="SearchString" value="@ViewData["currentFilter"]" type="text" name="SearchString" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="SearchCourseName" class="form-label">Find by Course Name:</label>
                            <input id="SearchCourseName" value="@ViewData["currentFilter1"]" type="text" name="SearchCourseName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="statusSelect" class="form-label">Status:</label>
                            <select id="statusSelect" name="FilterStatus" class="form-select">
                                <option value="">-Status-</option>
                                @if (ViewBag.FilterStatus == "Activated")
                                {
                                    <option value="Activated" selected="selected">Activated</option>
                                }
                                else
                                {
                                    <option value="Activated">Activated</option>
                                }
                                @if (ViewBag.FilterStatus == "Deactive")
                                {
                                    <option value="Deactive" selected="selected">Deactive</option>
                                }
                                else
                                {
                                    <option value="Deactive">Deactive</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-2 d-grid">
                            <label class="invisible">Search:</label>
                            <button id="searchButton" type="submit" class="btn btn-primary btnsmall mb-0">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @if (TempData["saveStatus"] != null)
        {
            @if (statusAdd)
            {
                <div class="text-success my-3"> Add Successfully </div>
            }
            else
            {
                <div class="text-danger my-3"> Add Failure </div>
            }
        }
         @if (TempData["statusDelete"] != null)
        {
        @if (statusDel)
        {
        <div class="text-success my-3"> Delete Successfully </div>
        }
        else
        {
        <div class="text-danger my-3"> Delete Failure </div>
        }
        }
        @if (TempData["statusUpdate"] != null)
        {
            @if (statusUpdate)
            {
                <div class="text-success my-3"> Update Successfully </div>
            }
            else
            {
                <div class="text-danger my-3"> Update Failure </div>
            }
        }

    </div>
</div>

<div class="row mt-3 d-flex justify-content-center">
    <table class="table table-striped table-hover" style="margin-left: 0;">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Course Name</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Documents</th>
                <th>Attach File</th>
                <td>PoterTopic</td>
                <th>Type Document</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Model.TopicDetailList)
            {
                <tr>
                    <td>@topic.Id</td>
                    <td>@topic.CourseName</td>
                    <td>@topic.Name</td>
                    <td>@topic.Description</td>
                    <td>@topic.Status</td>
                 
                    <td>
                        @if (!string.IsNullOrEmpty(topic.NameDocuments))
                        {
                            @if (topic.NameDocuments.EndsWith(".mp4"))
                            {
                                <video width="320" height="240" controls>
                                    <source src="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" type="video/mp4">
                                </video>
                                <br />
                                <a href="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" download>Download MP4</a>
                            }
                            else if (topic.NameDocuments.EndsWith(".mp3"))
                            {
                                <audio controls>
                                    <source src="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" type="audio/mp3">
                                    Your browser does not support the audio element.
                                </audio>
                                <br />
                                <a href="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" download>Download MP3</a>
                            }
                            else if (topic.NameDocuments.EndsWith(".doc"))
                            {
                                <a href="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" download>Download DOC</a>
                            }
                            else if (topic.NameDocuments.EndsWith(".pdf"))
                            {
                                <a href="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" download>Download PDF</a>
                            }
                            else
                            {
                                <span>Unsupported file format</span>
                                <a href="@Url.Content("~/uploads/documents/" + topic.NameDocuments)" download>Download file</a>

                            }
                        }
                        else
                        {
                            <span>No file available</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(topic.NameAttachFile))
                        {
                            @if (topic.NameAttachFile.EndsWith(".mp4"))
                            {
                                <video width="320" height="240" controls>
                                    <source src="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <br />
                                <a href="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" download>Download MP4</a>
                            }
                            else if (topic.NameAttachFile.EndsWith(".mp3"))
                            {
                                <audio controls>
                                    <source src="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" type="audio/mp3">
                                    Your browser does not support the audio element.
                                </audio>
                                <br />
                                <a href="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" download>Download MP3</a>
                            }
                            else if (topic.NameAttachFile.EndsWith(".pptx") || topic.NameAttachFile.EndsWith(".ppt"))
                            {
                                <a href="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" download>Download PowerPoint</a>
                            }
                            else if (topic.NameAttachFile.EndsWith(".pdf"))
                            {
                                <a href="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" download>Download PDF</a>
                            }
                            else
                            {
                                <span>Unsupported file format</span>
                                <a href="@Url.Content("~/uploads/videos/" + topic.NameAttachFile)" download>Download file</a>

                            }
                        }
                        else
                        {
                            <span>No Video</span>
                        }

                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(topic.NamePoterTopic))
                        {
                            @if (topic.NamePoterTopic.EndsWith(".pdf"))
                            {
                                <a href="@Url.Content("~/uploads/images/" + topic.NamePoterTopic)" download>Download PDF</a>
                            }
                           
                            else if (topic.NamePoterTopic.EndsWith(".pptx") || topic.NamePoterTopic.EndsWith(".ppt"))
                            {
                                <a href="@Url.Content("~/uploads/images/" + topic.NamePoterTopic)" download>Download PowerPoint</a>
                            }
                            else
                            {
                                <span>Unsupported file format</span>
                                <a href="@Url.Content("~/uploads/images/" + topic.NamePoterTopic)" download>Download file</a>
                                <img src="@Url.Content("~/uploads/images/" + topic.NamePoterTopic)" alt="@topic.NamePoterTopic" width="50" height="50" />

                            }

                        }
                        else
                        {
                            <span>No Video</span>
                        }

                    </td>
                    <td>@topic.TypeDocument</td>
                    <td>@topic.CreatedAt</td>
                    <td>@topic.UpdatedAt</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Edit and Delete buttons">
                            <a href="@Url.Action("Update", "Topic", new { id = topic.Id })" class="btn btn-primary btn-block">Edit</a>
                            <a href="@Url.Action("Delete", "Topic", new { id = topic.Id })" class="btn btn-danger btn-block">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

